* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  background-color: #e7e9fc;
  color: #2e2f42;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #2e2f42;
}

ul {
  list-style-type: none;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

header {
  padding: 24px 156px;
}

.nav {
  display: inline-block;
  margin-right: 332px;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  margin-right: 76px;
  text-transform: uppercase;
}

.menu {
  display: inline-block;
}

.menu_item {
  display: inline-block;
  margin-right: 40px;
}

.menu_item:last-child {
  margin-right: 0;
}

.contacts {
  display: inline-block;
}

.hero_image {
  background-color: #2e2f42;
  padding: 188px 472px;
  text-align: center;
}

.hero_image-title {
  width: 496px;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  color: #ffffff;
}

.hero_image-button {
  color: #ffffff;
  background-color: #4d5ae5;
  padding: 16px 32px;
  border: none;
  margin-top: 48px;
}

.section1 {
  background-color: #ffffff;
  padding: 120px 156px;
}

.hidden {
  display: none;
}

.feature {
  display: inline-block;
  width: 264px;
  margin-right: 18px;
}

.feature:last-child {
  margin-right: 0;
}

.feature_title {
  font-size: 20px;
  margin-bottom: 8px;
}

.section2 {
  padding: 120px 156px;
}

.section2_title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  margin-bottom: 72px;
}

.card {
  display: inline-block;
  background-color: #ffffff;
  margin-right: 18px;
}

.card:last-child {
  margin-right: 0;
}

.card_body {
  margin: 32px 16px;
}

.card_title {
  font-size: 20px;
  text-align: center;
  margin-top: 32px;
}

.card_description {
  text-align: center;
  margin: 8px 0 32px;
}

footer {
  background-color: #2e2f42;
  padding: 100px 156px;
  color: #f4f4fd;
}

.footer_logo {
  color: #f4f4fd;
}

.footer_description {
  width: 264px;
  margin-top: 16px;
}